# Q1

In [5]:
from datetime import date
date_1= date(2017, 8, 2)
date_2= date(2017, 8, 13)
total_days= (date_2 - date_1)
print(total_days.days)

11

# Q2

In [13]:
from math import pi
radians = pi * 75 / 180
print(radians)

1.3089969389957472

In [16]:
import math
height = 16 * math.sin(1.3089969389957472)
print(height)

15.454813220625093

In [17]:
from math import pi
radians = pi * 0 / 180
print(radians)

0.0

In [18]:
import math
height = 20 * math.sin(0)
print(height)

0.0

In [20]:
from math import pi
radians = pi * 45 / 180
print(radians)

0.7853981633974483

In [21]:
import math
height = 24 * math.sin(0.7853981633974483)
print(height)

16.970562748477143

In [22]:
from math import pi
radians = pi * 80 / 180
print(radians)

1.3962634015954636

In [23]:
import math
height = 24 * math.sin(1.3962634015954636)
print(height)

23.63538607229299

# Q3

In [24]:
lst=[0,2,4,6,8]
print(len(lst)/3)

1.6666666666666667

In [26]:
print(lst[int(len(lst) / 3)])

2

In [31]:
lst.sort(reverse=True)
print(lst)

[8, 6, 4, 2, 0]

In [32]:
lst.sort()
print(lst)

[0, 2, 4, 6, 8]

In [34]:
print(lst)

[0, 2, 4, 6, 8]

In [36]:
lst.remove(0)
lst.append(0)
print(lst)

[2, 4, 6, 8, 0]

# Q4

In [38]:
monthsL= ['jan' , 'feb', 'march', 'may' ]
monthsT= ('jan' , 'feb', 'march', 'may' )
print(monthsL)
print(monthsT)

['jan', 'feb', 'march', 'may']
('jan', 'feb', 'march', 'may')

In [39]:
monthsL.append('june')

In [40]:
print(monthsL)

['jan', 'feb', 'march', 'may', 'june']

In [42]:
monthsL.insert(3, 'april')
print(monthsL)

['jan', 'feb', 'march', 'april', 'may', 'june']

In [43]:
monthsL.pop
print(monthsL)

['jan', 'feb', 'march', 'april', 'may', 'june']

In [44]:
monthsL.remove('feb')
print(monthsL)

['jan', 'march', 'april', 'may', 'june']

In [45]:
monthsL.reverse()
print(monthsL)

['june', 'may', 'april', 'march', 'jan']